@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
   --color-nav-background: #F1F3F9;
   --color-button-background: #2B3D6C;
   --color-hero-text: #2B3D6C;

   --font-Inter:"Inter", sans-serif;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
